:root{
    background-color: #ecf5ff;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
#question{  
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
.choice-container{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    border: 0.1rem solid #56a5eb;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 1rem;
    }
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translate(-0.3rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1rem;
    background-color: #56a5eb;
    color: white;
}
.choice-text{
     padding: 1rem;
     width: 100%;
}
.correct{
    background-color: aquamarine;
}
.incorrect{
    background-color: red
}

/*hud*/

 #hud {
    display: flex;
    justify-content: space-between;
 }
 .hud-prefix{
    text-align: center;
    font-size: 1.4rem;
 }
 .hud-main-text{
    color: #56a5eb;
 }

 #progressbar{
     width: 10rem;
     height: 1.5rem;
     border: 0.2rem solid ;
     margin-top: 1rem;
 }
 #progressbarfull{
             height:1.1rem;
             background-color: #56a5eb;
             width: 0%;
 }
